
metal-cpp/Metal/._MTLPrivate.hpp

metal-cpp/Metal/._MTLDevice.hpp

metal-cpp/Foundation/._NSObject.hpp

LightningEngine/._MetalApplication.h

LightningEngine/._MetalApplication.cpp

external/Primitives/._VertexData.h

external/Editor/._Editor.h

external/Editor/._Editor.cpp

LightningEngine/._MyMTKViewDelegate.cpp

external/RenderControl/._MetalShader.h

external/Primitives/._MeshBuilder.cpp

LightningEngine/._LightningEngine.xcodeproj

LightningEngine/._Renderer.cpp

LightningEngine/._main.cpp

LightningEngine/LightningEngine.xcodeproj/._project.xcworkspace

LightningEngine/Shaders/._square.metal

external/imgui/backends/._imgui_impl_osx.h

external/imgui/backends/._imgui_impl_osx.mm

external/Primitives/._MeshBuilder.h

external/RenderControl/._ShaderManager.cpp

LightningEngine/._mtl_implementation.cpp

external/System/._ImageLoader.cpp

._.gitignore
