
._*
.DS_Store
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
LightningEngine.xcodeproj/
CMakeScripts/
bin/
build/
lib/
cmake-build-debug/

.idea/

*.pbxproj
*.xcodeproj
*.xcworkspace
LightningEditor/imgui.ini
